services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: concert
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  api:
    build:
      context: .
      target: api
    depends_on:
      - postgres
      - redis
      - kafka
    environment:
      APP_MODE: production
      HTTP_ADDR: :8080
      JWT_SECRET: dev-secret
      POSTGRES_DSN: postgres://postgres:postgres@postgres:5432/concert?sslmode=disable
      REDIS_ADDR: redis:6379
      KAFKA_BROKERS: kafka:9092
      KAFKA_GROUP_ID: concert-worker
      RATE_LIMIT_PER_MIN: 300
      QUEUE_THRESHOLD: 5000
      WORKER_POOL_SIZE: 200
    ports:
      - "8080:8080"

  worker:
    build:
      context: .
      target: worker
    depends_on:
      - postgres
      - kafka
    environment:
      APP_MODE: production
      POSTGRES_DSN: postgres://postgres:postgres@postgres:5432/concert?sslmode=disable
      KAFKA_BROKERS: kafka:9092
      KAFKA_GROUP_ID: concert-worker
    ports:
      - "9091:9091"

  prometheus:
    image: prom/prometheus:v2.53.0
    volumes:
      - ./deployments/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - api
      - worker

  grafana:
    image: grafana/grafana:11.1.0
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - ./deployments/grafana/provisioning:/etc/grafana/provisioning:ro
      - ./deployments/grafana/dashboards:/var/lib/grafana/dashboards:ro
    depends_on:
      - prometheus

volumes:
  postgres-data:
